.PageHead {
    border-bottom: 2px solid #2E2C2B;
    clear: fix;
    margin: 2rem 0 0;

    &-logo {
        @extend hug;
        display: inline-block;
        font: 1.5rem 'League Spartan';
        /*lost-column: 1/2;*/
    }

    &-nav {
        /*lost-column: 1/2;*/
    }
}
