.RecipeDetail {
    clear: fix;

    &-left { lost-column: 1/3 0; }

    &-stepList { lost-column: 2/3 0; }

    &-meta {
        font-size: 1.0625rem;
        padding: 0 0 0 2.5rem;

        &--servings {
            background: url('../images/icons/servings.svg') no-repeat;
            margin: 0 0 0 4px;
        }
        &--time {
            background: url('../images/icons/time.svg') no-repeat;
            padding: 0 0 0 2.7rem;
        }
    }

    &-ingredientList {
        border-top: 1px solid #D8D8D8;
        font-size: 1.125rem;
        padding: 1rem 0 0 2rem;
    }
    &-ingredient {
        margin: 1.25rem 0;
        &--quantity { font-weight: 700; }
    }
}
