/* Box Sizing */
html { box-sizing: border-box; }
* {
    &,
    &:before,
    &:after { box-sizing: inherit; }
}

body {
    /*lost-utility: edit;*/
    font-size: 1rem;
    font-family: system, -apple-system,
     ".SFNSDisplay-Regular", HelveticaNeue, LucidaGrande;
}
